<div class="steam-game-container" style="
    display: flex;
    padding-top: 32px;
    max-height: 100vh;
    overflow: scroll;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;">
    <% for (var i = 0; i < list.length; i++) { %>
        <div class="game-item" style="">
            <img class="game-logo" style="
            width: 16rem !important;
            height: 16rem !important;"
                 src="<%= list[i].coverURL %>"/>
            <div style="height: 8px"></div>
            <a href="<%= list[i].link %>" target="_blank"
            style="font-size: 1rem"
            >
                <%= list[i].name %>,
                <%= list[i].playTime %>
            </a>
            <div style="height: 18px"></div>
        </div>
    <% } %>

</div>